#countContainer {
    border-style: solid;
    border-width: 0.5rem;
    padding: 1em 2em;
    cursor: pointer;
    margin: 1rem;

    .popup,
    #numValue {
        background: #759275;
        margin: 2rem;
        padding: 1em 3em;
        font-weight: 600;
        font-size: 1.5rem;
        border-radius: 1rem;

        &:hover {
            background-color: #426842;
        }
    }
}