#container {
    max-width: 80ch;
    border-style: solid;
    border-width: 0.5rem;
    display: inline-block;
    border-color: #333;
    padding: 2em;
    background-image: url('../assets/mario-background2.png');
    background-size: cover;
    background-position: 50%;
    text-align: center;
}

#countContainer {
    padding: 1em 2em;
    cursor: pointer;
    margin: 1rem;

    p {
        padding: 1em;
        margin-bottom: 2rem;
        font-size: 200%;
    }
}