.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 3rem 2rem;
    background: #759275;
    padding: 1em 3em;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1rem;

    &:hover {
        background-color: #426842;
    }

    &-content {
        opacity: 0;
        width: 3rem;
        height: 3rem;
        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.show {
            opacity: 1;
        }
    }
}